/*
====================================
About Page Default Styling
====================================
*/

.main-about {
	text-align: left;
	margin: 6% 0;
}

.about-text {
	width: 70%;
	padding: 2.5%;
	margin: 0 auto;
	background: $seagreen70;
}

.about-text p {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.5;
	color: $darkgrey;
}

.about-text p:first-child {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.8rem;
	font-weight: 400;
	color: $sunset;
	line-height: 1;
	margin: 0;
	padding: 0;
}

.about-text p:last-child {
	margin-bottom: 0;
}

// end of styles