/*
====================================
Comments Default Styling
====================================
*/

#comments .navigation {
	padding: 0 0 1.8rem;
}

#comments .comments-title {
	color: darken($seagreen, 35%);
	font-weight: 300;
	font-size: 2.4rem;
	text-transform: uppercase;
}

h3 {
	&#comments-title, &#reply-title {
		color: darken($seagreen, 35%);
		font-weight: 300;
		font-size: 2.4rem;
		margin-bottom: 0;
	}
	&#comments-title {
		padding: 2.4rem 0;
	}
}

#comments ol.comment-list {
	list-style-type: none;
	padding: 0;
}

.commentlist li {
	&.comment {
		border-bottom: 1px solid darken($seagreen, 35%);
		line-height: 2.4rem;
		position: relative;
		clear: both;
		margin: 0 0 2.4rem;
		padding: 0 0 0 5.6rem;
	}
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
}

#comments .comment-body {
	ul, ol {
		margin-bottom: 1.8rem;
	}
	p:last-child {
		margin-bottom: 0.6rem;
	}
	blockquote p:last-child {
		margin-bottom: 2.4rem;
	}
}

.commentlist {
	ol {
		list-style: decimal;
	}
	.avatar {
		position: absolute;
		top: 4px;
		left: 0;
	}
}

.comment-author {
	float: left;
	width: 10%;
	margin: 0 3% 5% 0;
	.fn {
		color: darken($seagreen, 35%);
		font-style: normal;
		font-weight: 400;
	}
	.says {
		display: none;
	}
}

.comment-meta {
	font-size: 1.2rem;
	margin: 0 0 0.5rem;
	a {
		&:link, &:visited {
			color: darken($seagreen, 35%);
			text-decoration: none;
		}
	}
}

.reply {
	font-size: 1.2rem;
	padding: 0 0 2.4rem;
	a {
		color: darken($seagreen, 35%);
	}
}

a.comment-edit-link {
	color: darken($seagreen, 35%);
}

.commentlist .children li {
	border: none;
	margin: 0;
}

#comments .pingback {
	margin-bottom: 1.8rem;
	padding-bottom: 1.8rem;
	border-bottom: 1px solid darken($seagreen, 35%);
}

.commentlist li.comment + li.pingback {
	margin-top: -0.6rem;
}

#comments .pingback {
	p {
		color: darken($seagreen, 35%);
		font-size: 1.2rem;
		line-height: 1.8rem;
		display: block;
		margin: 0;
	}
	.url {
		font-style: italic;
		font-size: 1.3rem;
	}
}

#comments input[type="submit"] {
	width: 15rem;
	margin: 2rem 0 0 0;
	padding: 1rem 2rem;
	border: 1px solid darken($seagreen, 35%);
	background: none;
	color: darken($seagreen, 35%);
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

#comments input[type="submit"]:hover {
	background: darken($seagreen70, 15%);
}

#respond {
	margin-top: 2.4rem;
	border-top: 1px solid darken($seagreen, 35%);
	overflow: hidden;
	position: relative;
	.comment-notes {
		margin-bottom: 1rem;
	}
	.logged-in-as {
		margin-bottom: 1rem;
		a {
			color: darken($seagreen, 35%);
		}
	}
	label {
		display: none;
	}
}

.form-allowed-tags {
	line-height: 1rem;
}

.children #respond {
	margin: 0 4.8rem 0 0;
}

h3#reply-title {
	margin: 1.8rem 0;
}

#comments-list #respond {
	margin: 0 0 1.8rem;
}

#cancel-comment-reply-link {
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 400;
}

#respond {
	.required {
		color: darken($seagreen, 35%);
		font-weight: 700;
	}
	label {
		color: darken($seagreen, 35%);
		font-size: 1.2rem;
	}
	input {
		width: 100%;
		margin: 0 0 0.9rem;
	}
	textarea {
		width: 100%;
	}
	dt {
		color: darken($seagreen, 35%);
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	dd {
		color: darken($seagreen, 35%);
		font-size: 1.2rem;
		line-height: 1.8rem;
		code {
			font-size: 1.1rem;
		}
	}
	.form-submit {
		margin: 0 0 2.4rem;
		input {
			width: auto;
			font-size: 1.4rem;
		}
	}
	dl {
		margin: 0 0 1rem;
	}
	dt {
		display: inline;
		font-weight: 400;
	}
	dd {
		display: inline;
	}
}

p.form-allowed-tags, .nocomments {
	display: none;
}

.commentlist {
	list-style: none;
	margin: 0;
	.children {
		list-style: none;
		margin: 0;
	}
}

.comment-meta a {
	&:active, &:hover {
		color: darken($seagreen, 35%);
	}
}

.reply a:hover, a.comment-edit-link:hover {
	color: darken($seagreen, 35%);
}

#respond p, #comments-list ul #respond {
	margin: 0;
}

// end of styles