/*
====================================
Contact Page Default Styling
====================================
*/

.main-contact {
	margin: 6% 0;
}

.main-contact p {
	font-weight: 300;
}

.main-contact .container {
	width: 70%;
	margin: 0 auto;
	padding: 2.5%;
	background: $seagreen70;
}

.main-contact h3 {
	font-size: 2.8rem;
	font-weight: 400;
	text-transform: uppercase;
	color: $sunset;
	margin: 0;
}

.main-contact p {
	font-family: 'Roboto Slab', serif;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.5;
	color: $darkgrey;
}

// form styles

.contact-text {
	float: left;
	width: 65%;
	margin-right: 10%;
	text-align: left;
}

.main-contact input[type="text"]:focus,
.main-contact input[type="email"]:focus,
.main-contact input[type="submit"]:focus,
.main-contact textarea:focus {
	outline: none;
}

.main-contact input[type="text"],
.main-contact input[type="email"],
.main-contact input[type="submit"],
.main-contact textarea {
	width: 100%;
	padding: 0.6rem;
	border:none;
	resize: none;
	color: $darkgrey;
	font-weight: 300;
}

.main-contact textarea {
	height: 10rem;
	margin-bottom: 1rem;
}

.main-contact input[type="submit"] {
	width: 15rem;
	padding: 1rem 2rem;
	border: 1px solid $sunset;
	background: none;
	color: $sunset;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.main-contact input[type="submit"]:hover {
	background: $sunset50;
	color: darken($sunset, 20%);
}

// sidebar styles

.main-contact .container .sidebar {
	float: left;
	width: 25%;
}

.main-contact .container .sidebar h3 {
	margin-bottom: 1rem;
}

.sci-contact p,
.sci-address p {
	margin: 0;
}

.sci-contact,
.sci-address {
	margin-bottom: 2rem;
}

.main-contact .textwidget p {
	margin: 0 0 1rem 0;
}

@media all and (max-width: 800px) {
	.main-contact .container {
		width: 90%;
	}
	
	.contact-text {
		float: none;
		text-align: center;
		width: 90%;
		margin: 0 auto;	
		border-bottom: 1px solid $sunset;
	}

	.main-contact .container .sidebar {
		margin: 2rem auto 0 auto;
		text-align: center;
		float: none;
		width: 90%;
	}
}
// end of styles