/*
====================================
General Styling
====================================
*/

html {
	font-size: 10px;
}

body {
	font-family: 'Roboto Slab', serif;
	color: $darkgrey;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.header-main {
	margin: 2% 0 0 0;
}

.content { 
	float: left;
	width: 65%;
	margin-right: 5%;
}

.sidebar { 
	width: 30%;
	float: left;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}

.full { // not sure where this is used ???
	width: 100%;
}

footer {
	clear: both;
}

// media queries

@media all and (max-width: 1100px) {
	html {
	font-size: 9.5px;
	}
}

@media all and (max-width: 1000px) {
	html {
	font-size: 9px;
	}
}

@media all and (max-width: 900px) {
	html {
	font-size: 8.5px;
	}
}

@media all and (max-width: 800px) {
	html {
	font-size: 8px;
	}
}

@media all and (max-width: 700px) {
	html {
	font-size: 7.5px;
	}
}

@media all and (max-width: 600px) {
	html {
	font-size: 7px;
	}
}

@media all and (max-width: 500px) {
	html {
	font-size: 6.5px;
	}
}

@media all and (max-width: 400px) {
	html {
	font-size: 6px;
	}
}

// end of styles