/*
====================================
Home Page Default Styling
====================================
*/

.main-home {
	text-align: center;
}

.hero-text {
	width: 25%;
	padding: 5.5% 0;
	margin: 0 auto;
	background: $seagreen70;
}

.hero-text p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 7.2rem;
	line-height: 1;
	color: $sunset;
	margin: 0;
	padding: 0;
}

.hero-text p:last-child {
	font-size: 2.8rem;
	margin-top: 0.8rem;
}

// media queries

@media all and (max-width: 1000px) {
	.hero-text {
		width: 28%;
	}
}

@media all and (max-width: 900px) {
	.hero-text {
		width: 30%;
		margin-bottom: 5%;
	}
}

@media all and (max-width: 700px) {
	.hero-text {
		width: 32%;
	}
}

@media all and (max-width: 550px) {
	.hero-text {
		width: 34%;
	}
}

@media all and (max-width: 500px) {
	.hero-text {
		width: 36%;
		margin-bottom: 7%;
	}
}

@media all and (max-width: 450px) {
	.hero-text {
		width: 38%;
		margin-bottom: 9%;
	}
}

@media all and (max-width: 400px) {
	.hero-text {
		width: 40%;
		margin-bottom: 11%;
	}
}

@media all and (max-width: 350px) {
	.hero-text {
		width: 42%;
		margin-bottom: 13%;
	}
}

// end of styles